<div class="content ">
  <div class="h-100 w-100 d-flex bg justify-start align-items-center ">
    <div class="left text-justify m-2 ">
      <h1 class="text-white">World-query<span>&#160;</span></h1>
      <h3 class="text-white">any query in the world<span>&#160;</span></h3>
      <button type="submit"></button>
    </div>
  </div>
  <div class="row d-flex ">
    <h1 class="text-white text-center m-3">World-query uses</h1>
    <div class="row d-flex justify-content-center p-3 m-3 conten border border-info w-70">
      <section class="col-md-3 m-2 hovers">
      <div class="card" style="width: 100%">
        <img src="../../../assets/img/8010.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">World</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam vitae recusandae impedit quasi nostrum, illo eius magni facere. Sunt aperiam voluptatibus sint asperiores doloribus reiciendis vel, vero iusto corrupti explicabo?</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
      </section>
      <section class="col-md-3 m-2 hovers">
      <div class="card" style="width: 100%;">
        <img src="../../../assets/img/SL-032722-49310-05.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Query</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam vitae recusandae impedit quasi nostrum, illo eius magni facere. Sunt aperiam voluptatibus sint asperiores doloribus reiciendis vel, vero iusto corrupti explicabo?</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
      </section>
      <section class="col-md-3 m-2 hovers">
      <div class="card" style="width: 100%;">
        <img src="../../../assets/img/3497665.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">More  than</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam vitae recusandae impedit quasi nostrum, illo eius magni facere. Sunt aperiam voluptatibus sint asperiores doloribus reiciendis vel, vero iusto corrupti explicabo?</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
      </section>
    </div>
    <div class="container d-flex justify-content-center">
      <section class="col-md-8 m-2 p-3">
        <h1 class="text-white text-center m-3">About us and World-query</h1>
        <div class="card bg-dark text-white hovers" >
          <img src="../../../assets/img/wwang_040522_54.jpg" class="card-img" alt="...">
          <div class="card-img-overlay" >
            <h3 class="card-title">More than World-query</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo a rerum excepturi minima dolorum numquam nostrum id architecto reprehenderit et, nam qui quis quo in distinctio cum porro aperiam possimus.</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque molestias, mollitia culpa distinctio error delectus, officia enim vitae repudiandae corporis beatae perspiciatis necessitatibus placeat. Delectus molestiae recusandae fuga iure totam.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Site footer -->
    <footer class="site-footer navbar-dark bg-dark border border-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam doloremque vel at quo tempora, autem exercitationem iure omnis ipsa ratione veniam quos tenetur libero architecto saepe doloribus incidunt sunt!</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023
            </p>
          </div>
        </div>
      </div>
</footer>
</div>

